<section class="card card-primary card-outline">
    <header class="card-header">
        <h3 class="card-title">Sin Contenido :/</h3>
    </header>
    <div class="card-body">
        <p class="text-center p-3">Aún no hay páginas creadas</p>
    </div>
<!-- /.card-body -->
</section>
<!-- /.card -->