<section class="card card-primary card-outline">
    <header class="card-header">
        <h3 class="card-title">(<%= object.count %> páginas)</h3>
    </header>
    <div class="card-body p-0">
        <%= render "admin/pages/table", pages: object %>
    </div>
</section>