<% provide(:title, "Páginas") %>

<!-- Content Header (Page header) -->
<header class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1><%= params[:category].to_s.titleize %> Pages <sup><%= @pages.count %></sup></h1>
        <% link_to new_admin_page_path, class: 'btn btn-outline-primary btn-sm' do %>
          <i class="fas fa-plus"></i> Nueva Página
        <% end %>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</header>

<!-- Main content -->
<section class="content">
  <%= render "admin/pages/index", object: @pages.where(lang:"es"), title: "Español" %>
  <%= render "admin/pages/index", object: @pages.where(lang:"en"), title: "Inglés" %>
</section>
<!-- /.content -->