#ToolBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #202020;

    *{
        box-sizing: border-box;
    }

    .nav-menu{
        display: flex;
        align-items: center;
        height: 100%;

        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--text-color);
        }

        .letrismo-logo{
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }

        .page-title{
            font-size: 16px;
        }

        .burger-btn{
            position: relative;
            width: 50px;
            height: 40px;
            padding: 15px 15px 14px;
            margin: 0 0 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: none;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;

            .line{
                position: relative;
                width: 100%;
                height: 1px;
                left: 0;
                background-color: var(--text-color);
            }
        }
    }

    .tools-wrapper{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        & > *{
            margin: 0 10px;
        }
    }
}

.Tool{
    position: relative;
    width: 40px;
    height: 40px;

    &__hit{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 9;
        
        &:hover{
            background-color: rgba(0,0,0, .5);
        }
    }

    &__icon-container{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        padding: 4px;
        pointer-events: none;
    }

    &__icon{
        position: relative;
        width: 100%;
    }

    &__modal-container{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        &.hide{
            opacity: 0;
            pointer-events: none;
        }
    }

    &__modal-arrow{
        position: absolute;
        top: calc(100% - 10px);
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: $tools-bg;
    }

    &__modal-hit{
        position: fixed;
        top: 40px;
        right: 20px;
        width: 500px;
        padding-top: 10px;
        // border: 1px solid var(--test-bg2);
    }

    &__modal-wrapper{
        position: relative;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        background-color: $tools-bg;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    &__title-wrapper{
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title{
        margin: 0;
        font-weight: 500;
    }

    &__contribute{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        cursor: pointer;
    }

    &__panels-wrapper{
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    &__index-panel{
        position: relative;
        width: 40%;
        flex-shrink: 0;
        padding: 0 10px 0 0;
    }

    &__list-item{
        position: relative;
        list-style-type: none;
        padding: 10px 0;
        margin: 0;

        &:first-child{
            padding-top: 0;
        }

        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        &__icon{
            position: relative;
            width: 20px;
            margin-right: 10px;
        }
        &__name{
            font-weight: 300;
        }
    }

    &__equill-preview{
        position: relative;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(0,0,0, 1);
    }

    &__equill-description{
        position: relative;
        width: 100%;
        padding: 10px;
        font-size: 12px;

        .family{
            font-family: $secondary-font;
            opacity: 0.5;
        }

        .difficulty{
            margin-bottom: 10px;
        }

        h5{
            font-size: 14px;
            margin-top: 20px;
            opacity: .5;
        }

        li{
            list-style-type: disc;
        }

        &__properties{
            // opacity: .5;
        }
    }
}