<turbo-frame id="turbo-frame">
	<article class="px-6 py-24 sm:py-32 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<header class="logoContainer intro-item"><%= image_tag("equills.svg") %></header>
			<h1 class="text-center"><%= @page.title %></h1>
			<div class="py-6"><%= @page.content.try(:html_safe) %></div>
			<footer class="w-full">
				<%= image_tag("letrismo-logo.svg", :class => "signature") %>

				<div class="container intro-item" id="socialMedia">
					<div class="socialBox">
						<a href="https://www.instagram.com/typebrain" target="_blank">
							<i class="fa-brands fa-instagram"></i>
							<p>Andres Ochoa</p>
						</a>
					</div>
					<div class="socialBox">
						<a href="https://www.instagram.com/andrew__alva/" target="_blank">
							<i class="fa-brands fa-instagram"></i>
							<p>Andrew Alva</p>
						</a>
					</div>
					<div class="socialBox">
						<a href="https://www.instagram.com/coderemo_/" target="_blank">
							<i class="fa-brands fa-instagram"></i>
							<p>Eli Ramos</p>
						</a>
					</div>
					<div class="socialBox">
						<a href="https://www.instagram.com/juanfuent.es/" target="_blank">
							<i class="fa-brands fa-instagram"></i>
							<p>Juan Fuentes</p>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</article>
</turbo-frame>