<div class="container" id="manifestoContainer">
	<div class="logoContainer"><%= image_tag("equills.svg") %></div>
	<div>
		<p>La forma de las letras siempre ha estado definida por las herramientas que se usan para escribirlas.</p>
		<p>La última vez que vimos surgir nuevas formas en las letras y una estética reconocible fue en los 70 's con el surgimiento del graffiti contemporáneo que utilizó la pared como sustrato y la pintura en aerosol como herramienta.</p>
		<p>Desde entonces, software avanzado como Photoshop y Procrate se han empeñado en darnos las posibilidades para replicar lo más fielmente posible todas las herramientas de escritura análogas imaginables. Y si bien agregan algunos atributos como las capas, edición de color, flujo inagotable de tinta y un historial de acciones susceptibles de ser deshechas, la mera imitación queda muy corta. Las herramientas que tenemos a la mano hoy en día dejan las limitantes físicas para ubicarse más cercanas al mundo de las ideas.</p>
		<p>Mediante el uso de lenguajes de programación Andrés Ochoa, Andrew Alva, Eli Ramos y Juan Fuentes, nos encontramos desarrollando herramientas de escritura digitales que buscan dejar marcas imposibles de crear en el mundo físico. Las hemos denominado "eQuills" y en este sitio web podrás utilizarlas. Estamos ansiosos de que letristas alrededor del mundo las usen, escuchar sus opiniones y ver las nuevas e increíbles formas que resultarán de esta “nueva caligrafía”.</p>
		<section class="signatureContainer">
			<%= image_tag("letrismo-logo.svg", :class => "signature") %>
		</section>
	</div>
</div>