<div id="Toolbar">
    <!-- nav menu --small verion -->
    <nav class="nav-menu">
        <%= link_to root_path do %>
            <%= image_tag("letrismo-logo.svg", :class => "letrismo-logo") %>
            <h1 class="page-title">eQuills</h1>
        <% end %>


        <button class="burger-btn">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
    </nav>

    <div class="tools-wrapper">
        <!-- tool structure -->
        <div class="tool-container">
            <div class="tool__icon"></div>

            <div class="tool__modal-wrapper"></div>
        </div>
    </div>
</div>