<div class="container" id="container">
  <div class="containerGrid">
    <ul>
      <% @letrisms.shuffle.take(8).each do |letrism| %>
      <li>
        <%= link_to letrism_path(letrism.slug) do %>
        <%= image_tag letrism.img.thumb.url, width: 100 %>
        <div><p>Por <%= letrism.user.email %></p></div>
        <% end %>
      </li>
      <% end %>
      <!-- ULTIMO DE LA GALLERIA DE ENTRADA -->
      <li class="description">
        <h1 class="intro-item"><%= image_tag("equills.svg", title: "eQuills") %></h1>
        <p class="intro-item">eQuills es el término que adoptamos para referirnos a las herramientas de escritura digital que desarrollamos con el objetivo de dejar marcas imposibles de crear en el mundo físico. Suena bien ¿Cierto? Pruébalo tú mismo.</p>
        <a href="/notebook" title="Comenzar" class="change-page intro-item"><button>COMENZAR</button></a>
      </li>
    </ul>
  </div>
</div>