<div class="container" id="container">
  <div class="containerGrid">
    <ul>
      <% @letrisms.take(8).each do |letrism| %>
      <li>
        <%= link_to letrism_path(letrism.slug) do %>
        <%= image_tag letrism.img.thumb.url, width: 100 %>
        <div><p>Por <%= letrism.user.email %></p></div>
        <% end %>
      </li>
      <% end %>
      <!-- ULTIMO DE LA GALLERIA DE ENTRADA -->
      <li class="description">
        <h1>TNC</h1>
        <p>Mediante el uso de lenguajes de programación y en conjunto con Juan Fuentes, Andrew Alva y Eli Ramos, nos encontramos creando herramientas de escritura digitales que dejen marcas imposibles de crear en el mundo físico. Las hemos denominado <i><b>"equills"</b></i></p>
        <a href="/login" title="Comenzar"><button>COMENZAR</button></a>
      </li>
    </ul>
  </div>
</div>