<% if flash.any? %>
  <div id="error_explanation" class="bg-yellow-700 p-4 rounded-lg mb-4 text-black">
    <ul>
      <% flash.each do |name, msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
