<% if flash.any? %>
  <div class="rounded-md bg-red-900 dark:bg-red-400/10 dark:ring-1 dark:ring-inset dark:ring-red-400/20 py-3 px-2 mb-2 mt-4">
    <div class="flex">
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-700"><%= t(:submission_errors) %></h3>
        <div class="mt-1 text-sm text-red-800">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <% flash.each do |name, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>