<header class="sm:mx-auto sm:w-full sm:max-w-md">
  <img src="/static/letrismo-logo.svg" alt='DomGL Logotype' width="160" class='h-10 mx-auto w-auto'>
  <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
</header>