.titleContainer{text-align: center;margin:0 auto 50px auto;}
#containerGrid ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

#containerGrid ul li {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
}

#containerGrid ul li img {
  width: 100%;
}

#containerGrid ul li a {
  text-decoration: none;
}

#containerGrid ul li div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 18, 0.7);
  opacity: 0;
  top: 0;
  left: -50px;
  transition: all 300ms ease-in;
  color: #fff;
  font-size: 0.7em;
  line-height: 100%;
  display: grid;
  align-items: center;
}

#containerGrid ul li:hover div {
  opacity: 1;
  left: 0px;
}

#containerGrid ul li.description h1 {
  font-size: 1.5em;
  margin: 0;
}

#containerGrid ul li.description p {
  font-size: 1em;
  position: relative;
  opacity: 1;
  top: unset;
  left: unset;
  background: transparent;
}

@media(max-width:768px) {
  #containerGrid ul li.description p {
    font-size: 0.7em;
  }

}

@media(max-width:460px) {
  #containerGrid ul {
    grid-template-columns: 1fr;
  }

  #containerGrid ul li div {
    opacity: 1;
    left: 0;
    background: transparent;
  }

  #containerGrid ul li div p {
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.5);
  }

}

.paginationContainer {
  text-align: center;
  padding: 50px 0 0 0;
}

.digg_pagination {
  cursor: default;
  display: inline-block;
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #eae7e1;
  border: 1px solid #eae7e1;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: red;
  border: 2px solid #151512;
  color: #151512;
}

.digg_pagination a {
  text-decoration: none;
  color: #eae7e1;
  border: 1px solid #eae7e1;
  transition: all 300ms ease-in
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: red;
  border-color: red;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}
