.container {
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
}

@media(max-width:460px) {
	.container {
		padding: 0 20px;
	}

}

.containerGrid ul {
	height: 100vh;
	display: grid;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 30% 40% 30%;
	margin: 0;
	padding: 0;
}

.containerGrid ul li:last-child {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

@media(max-width:460px) {
	.containerGrid ul {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 30% 40% 30%;
	}

	.containerGrid ul li:last-child {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}

}

.containerGrid ul li {
	text-align: center;
	position: relative;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-content: center;
}

.containerGrid ul li img {
	width: 100%;
	.letrism-thumb {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.containerGrid ul li a {
	text-decoration: none;
}

.containerGrid ul li div {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(21, 21, 18, 0.7);
	opacity: 0;
	top: 0;
	left: -50px;
	transition: all 300ms ease-in;
	color: #fff;
	font-size: 0.7em;
	line-height: 100%;
	display: grid;
	align-items: center;
}

.containerGrid ul li:hover div {
	opacity: 1;
	left: 0px;
}

.containerGrid ul li.description h1 {
	font-size: 1.5em;
	margin: 0;
}

.containerGrid ul li.description p {
	font-size: 1em;
	position: relative;
	top: unset;
	left: unset;
	background: transparent;
}

@media(max-width:768px) {
	.containerGrid ul li.description p {
		font-size: 0.7em;
	}

}

@media(max-width:460px) {
	.containerGrid {
		height: 100vh;
		display: grid;
		align-items: center;
	}

	.containerGrid ul {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 15% 15% 40% 15% 15%;
	}

	.containerGrid ul li div {
		opacity: 1;
		left: 0;
		background: transparent;
	}

	.containerGrid ul li div p {
		font-size: 0.5em;
		color: rgba(255, 255, 255, 0.5);
	}

}

.containerGrid ul li:last-child button {
	background: #151512;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 0;
	padding: 5px 10px;
	transition: all 300ms ease-in;
}

.containerGrid ul li:last-child button:hover {
	border: 1px solid red;
	color: red;
	cursor: pointer;
}

.menu {
	background-color: var(--bg-color);
	position: fixed;
	top: 15px;
	right: 5%;
	z-index: 9;
	height: 50px;
}

.menu .title {
	font-style: italic;
	font-size: 1em;
	letter-spacing: -2px;
	text-align: right;
}

.menu .title span {
	transition: all 300ms ease-in;
}

.menu .title .letter {
	font-size: 0;
}

.menu #menuCheckInput {
	display: none;
}

.menu #menuCheckInput ~ label {
	position: absolute;
	width: 100%;
	height: 100%;
}

.menu #menuCheckInput ~ label:hover {
	cursor: pointer;
}

.menu #menuCheckInput ~ label:hover ~ .title span {
	color: red;
}

.menu .nav {
	background-color: var(--bg-color);
	opacity: 0;
	transform: translate(50px, 0);
	transition: all 300ms ease-in;
	text-align: right;
	padding: 0;
	margin: 0;
}

.menu .nav li {
	display: block;
	position: relative;
	padding: 6px 0;
}

.menu .nav li a {
	color: #fff;
	text-decoration: none;
	position: relative;
	font-size: 0.8em;
}

.menu .nav li a:after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	top: 6px;
	left: -10px;
	background: #fff;
}

.menu .nav li a:before {
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	bottom: -5px;
	left: 0;
	background: rgba(255, 0, 0, 0.8);
	transition: all 300ms ease-in;
}

.menu .nav li:hover a:before {
	width: 100%;
}

.menu #menuCheckInput:checked ~ .title {
	color: red;
}

.menu #menuCheckInput:checked ~ .title .letter {
	font-size: 1em;
}

.menu #menuCheckInput:checked ~ .nav {
	opacity: 1;
	transform: translate(0, 0);
}