body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	transition: background 0.5s ease;
	#guides-layer {
		position: fixed;
		z-index: 10;
		pointer-events: none;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		opacity: 0.35;
	}
	&[data-theme="dark"] {
		background-color: #151512;
		// background-image: asset-url("white-equills-guide-a.svg");
		#guides-layer[data-grid="grid-a"] {
			background-image: asset-url("white-equills-guide-a.svg");
		}
		#guides-layer[data-grid="grid-b"] {
			background-image: asset-url("white-equills-guide-b.svg");
		}
		#guides-layer[data-grid="grid-c"] {
			background-image: asset-url("white-equills-guide-c.svg");
		}
		#guides-layer[data-grid="grid-d"] {
			// background-image: asset-url("white-equills-guide-d.svg");
			background-image: none;
		}
	}
	&[data-theme="light"] {
		background-color: #eae7e1;
		// background-image: asset-url("equills-guide-a.svg");
		#guides-layer[data-grid="grid-a"] {
			background-image: asset-url("equills-guide-a.svg");
		}
		#guides-layer[data-grid="grid-b"] {
			background-image: asset-url("equills-guide-b.svg");
		}
		#guides-layer[data-grid="grid-c"] {
			background-image: asset-url("equills-guide-c.svg");
		}
		#guides-layer[data-grid="grid-d"] {
			background-image: none;
			// background-image: asset-url("equills-guide-d.svg");
		}
	}
	
}
.toolCheckRed {
	position: absolute;
	top: 0;
	left: calc(50% - 15px);
	width: 28px;
	height: 28px;
	background: red;
	z-index: -1;
	border-radius: 30px;
	transition: top 300ms ease-in;
}

.toolCheck:hover ~ .toolCheckRed {
	top: calc(50% - 15px);
}

.toolCheckWhite {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	z-index: -1;
	background: #fff;
}

#toolCheckInput {
	display: none;
}

#tools {
	opacity: 0;
    transform: translate(0px, 15px);
	display: none;
	position: fixed;
	padding: 8px;
	background: var(--bg-color);
	z-index: 10;
	bottom: 5%;
	left: 5%;
	background-color: $tools-bg;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.tool-item {
	opacity: 0;
    transform: translate(0px, -8px);
}

#tools .slider p {
	margin: 0;
	padding: 0;
}

#tools .slider div {
	display: grid;
	grid-template-columns: 30px 2fr;
}

#tools .slider div p {
	margin: 0;
	padding: 0;
}

/*
#tools input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
	height: 1px;
}

#tools input[type=range]:focus {
	outline: none;
}

//	EXPLORER //

//SLIDER MIDDLE LINE CURSOR POINTER//
#tools input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: #ffffff;
	border: 0px;
}

//SLIDER EMBOLO EXPLORER//
#tools	input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 30px;
	width: 5px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}

//SLIDER MIDDLE THIN LINE eXPLORER//
#tools	input[type=range]:focus::-webkit-slider-runnable-track {
	background: #fff;
}

//mozilla //

//SLIDER MIDDLE LINE CURSOR POINTER//
#tools	input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
}

//SLIDER EMBOLO MOZILLA//
#tools	input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 30px;
	width: 5px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

#tools	input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

//mozilla //

//SLIDER MIDDLE LINE CURSOR POINTER//
#tools	input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#tools	input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#tools	input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

#tools	input[type=range]:focus::-ms-fill-lower {
	background: #fff;
}

#tools	input[type=range]:focus::-ms-fill-upper {
	background: #fff;
}
*/

#tools .equills {
	width: 100%;
	ul {
		padding: 8px 0px;
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
		}
		a {
			padding: 0px 8px;
			&.active,
			&:hover {
				label {
					border-color: red;
				}
			}
		}
	}
}

#tools .equills p {
	margin: 0;
	padding: 0;
}

input[type="radio"] {
	display: none;
	border: 1px solid #fff;
	& + label {
		display: inline-block;
		font-size: 0.8em;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #fff;
		padding: 0;
		transition: border 300ms ease-in;
		cursor: pointer;
		position: relative;
		span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
		}
		&:hover {
			border-color: red;
		}
	}

	&:checked + label {
		border-color: red;
	}

	&#back1 + label {
		background-color: #eae7e1;
	}
	&#back2 + label {
		background-color: #151512;
	}
}

button#open-tools-btn {
	cursor: pointer;
	position: fixed;
	width: 30px;
    height: 30px;
    border: 2px solid white;
    left: 5%;
    bottom: 5%;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    transition: border 150ms ease;
    &:hover,
    &:focus {
	    border-color: red;
    }
}
button#clear-btn {
	position: fixed;
	top: 5%;
	left: 5%;
	border: none;
	outline: none;
	background: none;
	color: white;
	text-transform: uppercase;
	z-index: 10;
	cursor: pointer;
	transition: color 200ms ease;
	&:focus,
	&:hover {
		color: red;
	}
}
button#close-tools-btn {
	bottom: 0;
	left: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background: none;
	border: 0;
	display: inline-block;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
		fill: white;
		stroke: #fff;
	}
	&:hover {
		svg {
			stroke: red;
		}
	}
}

#tools .closeBtn {
	width: 100%;
	text-align: right;
	outline: none;
}


#tools .grids {
	display: grid;
	grid-template-columns: 50px 40px 40px 40px 40px;
	padding: 20px 0;
}

#tools .grids p {
	margin: 0;
	padding: 0;
}

#tools .grids input[type="radio"] {
	display: none;
}

#tools .grids div:last-child input[type="radio"] ~ label {
	font-size: 0.8em;
}

#tools .grids input[type="radio"] ~ label svg {
	stroke: #fff;
	width: 8px;
	height: 8px;
}

#tools .grids input[type="radio"] ~ label:hover {
	cursor: pointer;
	background: red;
}

#tools .grids input[type="radio"]:checked ~ label svg {
	stroke: #000;
}

#tools .background {
	display: grid;
	grid-template-columns: 120px 40px 40px;
	padding: 20px 0;
}

#tools .background p {
	margin: 0;
	padding: 0;
}

#tools .background input[type="radio"] {
	display: none;
}


form#letrism-form {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;

	.field {
		float: left;
	}
	input[type="submit"] {
		position: fixed;
		right: 5%;
		bottom: 5%;
		border: none;
		background-color: transparent;
		outline: none;
		color: white;
		padding: 5px 8px;
		border-radius: 8px;
		text-transform: uppercase;
		cursor: pointer;
		transform: translate(0px, 15px);
		transition: color 200ms ease;
		opacity: 0;
		display: none;
		&:hover {
			color: red;
		}
	}
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}

.modal-content {
	text-align: center;
	background: #151512;
	color: #fff;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
	max-width: 460px;
}

.modal-content-border {
	border: 2px solid #fff;
	padding: 20px;
}

.closeModal {
	display: none;
}

.closeModal ~ label {
	z-index: -1;
	color: #151512;
	position: fixed;
	top: 10%;
	left: 50%;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: all 300ms ease-in;
}

.closeModal:checked ~ label {
	color: #fff;
	z-index: 100;
}

.closeModal:checked ~ .modal {
	display: block;
}

.closeModal ~ .modal {
	display: none;
}

.closeModal ~ label:hover, .closeModal ~ label:focus {
	text-decoration: none;
	cursor: pointer;
	transform: scale(1.5);
	color: red;
}

@media(max-width:760px) {
	.closeModal ~ label {
		top: 5%;
	}

}

@media(max-width:360px) {
	.closeModal ~ label {
		top: 2%;
	}

}
