.logoContainer {
	max-width: 450px;
	margin: 50px auto;
	width: 100%;
}

.imgContainer {
	display: grid;
	grid-template-rows: auto 100px 50px;
	padding-bottom: 50px;
}

.imgContainer p {
	text-align: right;
}

.imgContainer img {
	width: 100%;
}

.imgContainer .socialContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.imgContainer .socialContainer a {
	color: #151512;
	position: relative;
	display: inline-block;
}

.imgContainer .socialContainer a svg {
	width: 50px;
	height: 50px;
}

.imgContainer .socialContainer a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 50px;
	background: #eae7e1;
	z-index: -1;
}

.imgContainer .socialContainer a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 48px;
	transform: scale(0.1);
	background: red;
	z-index: -1;
	opacity: 0;
	transition: all 300ms ease-in;
}

.imgContainer .socialContainer a:hover:after {
	transform: scale(1);
	opacity: 1;
}

@media(max-width:440px) {
	.imgContainer {
		padding-bottom: 0px;
	}

}

.moreImages {
	padding: 25px 0;
}

.moreContainer {
	padding: 25px 0 50px 0;
}

.moreContainer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5%;
}

.moreContainer ul li {
	a {
		display: inline-block;
		transition: opacity 200ms ease;
		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
	img {
		width: 100%;
	    float: left;
	    height: 200px;
	    object-fit: cover;
	    overflow: hidden;
	    object-position: center;
	}
}

@media(max-width:440px) {
	.moreContainer ul {
		grid-template-columns: 1fr;
	}

}
