#manifestoContainer {
	display: grid;
	align-items: center;
	max-width: 550px;
	text-align: justify;
	padding: 5% 0 0 0;
}

#manifestoContainer p {
	font-size: 1em;
	color: #eae7e1;
}

.logoContainer {
	max-width: 450px;
	margin: 50px auto;
	width: 100%;

	img {
		width: 100%;
	}

}

@media(max-width:990px) {
	#manifestoContainer {
		padding: 10% 0 0 0;
	}

}

@media(max-width:590px) {
	#manifestoContainer {
		padding: 25% 0 0 0;
	}

}

@media(max-width:440px) {
	#manifestoContainer {
		padding: 40% 0 0 0;
	}

}

.signatureContainer {
	width: 100%;
	text-align: right;
}

.signature {
	width: 50px !important;
	float: right;
}

#socialMedia {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	overflow: hidden;
	padding: 50px 0;
}

#socialMedia .socialBox {
	width: 90%;
	margin: 0 auto;

	a {
		display: grid;
		grid-template-columns: 30px auto;
		color: #eae7e1;
		text-decoration: none;
		align-items: center;
	}

	svg {
		width: 20px;
		height: 20px;
	}

	.svgContainer {
		position: relative;
		width: 20px;
		height: 20px;
		margin: 0 auto;
	}

	p {
		position: relative;
		font-size: 0.7em;
	}

	p:after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 1px;
		background: #eae7e1;
		transition: all 300ms ease-in;
	}

	.svgContainer:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		transform: scale(0.1);
		background: red;
		z-index: -1;
		opacity: 0;
		transition: all 300ms ease-in;
	}

	.svgContainer:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		background: #eae7e1;
		z-index: -1;
	}

	&:hover .svgContainer:after {
		transform: scale(1);
		opacity: 1;
	}

	&:hover p:after {
		background: red;
	}

}

@media(max-width:590px) {
	#socialMedia {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media(max-width:440px) {
	#socialMedia .socialBox p {
		font-size: 0.6em;
		opacity: 1;
		transform: translate(0, 0px);
	}

}
