@layer components {
    .nav-img {
        height: 5vw;
        min-height: 40px;
        max-height: 60px;
        aspect-ratio: 1.35 / 1;
        object-fit: contain;
        @apply inline w-auto m-4;
    }
    .menu-link {
        @apply overflow-hidden inline-block pl-6 py-2 md:py-4 w-full text-left md:w-auto font-title text-3xl lg:text-4xl xl:text-5xl relative leading-none cursor-pointer;
    }
    .menu-title {
        @apply font-subtitle m-0 font-semibold text-center leading-none;
    }
    .network-link {
        @apply cursor-pointer py-1 md:p-2 lg:p-4 w-1/2 inline-block md:w-auto font-title text-left text-lg lg:text-lg xl:text-xl 2xl:text-2xl text-gray-400 md:text-white;
    }
}

.menu-link {
    filter: blur(5px);
    transition: filter 250ms ease;
}

.menu-link:after {
    content: "";
    @apply bg-white absolute opacity-0 left-0 w-full bottom-1/2;
    transform: scale(0, 1);
    transition: 250ms ease-out;
    transition-property: transform, opacity;
    height: 2px;
    transform-origin: bottom right;
}

.menu-link.active {
    @apply pointer-events-none;
    filter: blur(0px);
}
.menu-link:hover {
    filter: blur(0px);
}
.menu-link.active:after {
    transform: scale(1, 1);
    opacity: 1;
}
.menu-link:not(.active):hover:after {
    transition-delay: 280ms;
    transform-origin: bottom left;
    transform: scale(1, 1);
    opacity: 1;
}
.menu-title {
    font-size: 12vw;
}
@media only screen and (min-width: 640px) {
    .menu-title {
        font-size: 8vw;
    }
}

.menu-link sup {
    @apply text-red-600 text-base absolute top-0 -left-0;
}