:root {
    --font-family: 'IBM Plex Mono', 'Consolas', 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Monaco', 'Courier New', monospace;
    --font-title: var(--font-family);
    --white: #fff;
    --yellow: #ff0;
    --red: #f00;
    --purple: #f0f;
    --blue: #00f;
    --black: #000;
}