<footer class="h-20 md:h-16 -mt-20 md:-mt-16 mx-auto max-w-7xl px-6 md:flex md:items-center md:justify-between lg:px-8 border-t border-gray-800">
    <div class="flex justify-center space-x-6 md:order-2">
        <a href="https://www.instagram.com/e.quills" class="text-primary-400 hover:text-primary-500" title="Letrismo on instagram" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/juanfuent-es/letrismo" class="text-primary-400 hover:text-primary-500" title="Letrismo on github" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <p class="mt-2 md:order-1 md:mt-0 text-center text-xs leading-5 text-gray-500">
        <span class="block md:inline">&copy; <%= Time.now.year %> eQuills, Letrismo</span>
        <%= link_to t(:terms), @lang == 'en' ? terms_path(lang: @lang) : terminos_path(lang: @lang), class: "pl-1 underline link", title: t(:terms) %>
        <%= link_to t(:privacy), @lang == 'en' ? privacy_path(lang: @lang) : privacidad_path(lang: @lang), class: "pl-1 underline link", title: t(:privacy) %>
    </p>
</footer>