<div class="menu">
    <input type="checkbox" id="menuCheckInput">
    <label for="menuCheckInput"></label>
    <p class="title">
        <span class="initial">L</span>
        <span class="letter">a</span>
        <span class="letter">&nbsp;</span>
        <span class="initial">N</span>
        <span class="letter">u</span>
        <span class="letter">e</span>
        <span class="letter">v</span>
        <span class="letter">a</span>
        <span class="letter">&nbsp;</span>
        <span class="initial">C</span>
        <span class="letter">a</span>
        <span class="letter">l</span>
        <span class="letter">i</span>
        <span class="letter">g</span>
        <span class="letter">r</span>
        <span class="letter">a</span>
        <span class="letter">f</span>
        <span class="letter">í</span>
        <span class="letter">a</span>
    </p>
    <ul class="nav">
        <li><a href="/" title="Inicio" class="change-page">Inicio</a></li>
        <li><a href="/manifiesto" title="Manifiesto" class="change-page">Manifiesto</a></li>
        <li><a href="/notebook" title="Notebook" class="change-page">Notebook</a></li>
        <li><a href="/galeria" title="Galería" class="change-page">Galería</a></li>
    </ul>
</div>