<div class="menu">
  <input type="checkbox" id="menuCheckInput">
  <label for="menuCheckInput"></label>
  <p class="title">
    <span class="initial">T</span>
    <span class="letter">h</span>
    <span class="letter">e</span>
    <span class="letter">&nbsp;</span>
    <span class="initial">N</span>
    <span class="letter">e</span>
    <span class="letter">x</span>
    <span class="letter">t</span>
    <span class="letter">&nbsp;</span>
    <span class="initial">C</span>
    <span class="letter">a</span>
    <span class="letter">l</span>
    <span class="letter">l</span>
    <span class="letter">i</span>
    <span class="letter">g</span>
    <span class="letter">r</span>
    <span class="letter">a</span>
    <span class="letter">p</span>
    <span class="letter">h</span>
    <span class="letter">y</span>
  </p>
  <ul class="nav">
    <li><a href="/">Inicio</a></li>
    <li><a href="/manifiesto">Manifiesto</a></li>
    <li><a href="/notebook">Notebook</a></li>
    <li><a href="/galeria">Galería</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</div>