<div id="preloader" class="w-full h-full fixed top-0 left-0 bg-white flex justify-center items-center z-50">
    <img src="/images/hatch-condensed-logo.svg" alt="Hatch Logotype" class="w-32 h-auto" width="100" height="26">
</div>