<div id="preloader" class="flex items-center fixed w-full h-full bg-gray-900 left-0 top-0 justify-center z-50">
    <img src="/static/letrismo-logo.svg" alt='<%= t(:loading) %>' width="67" height="77" class='w-16 h-auto'>
</div>