:root {
    --bg-color: #FFF;
    --color: #0f0c0d;
    --black: #0f0c0d;
    --white: #FFFFFF;
    --font-family: 'IBM Plex Mono', 'Consolas', 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Monaco', 'Courier New', monospace;
    --font-regular: var(--font-family);
    --white: #fff;
    --yellow: #ff0;
    --red: #f00;
    --purple: #f0f;
    --blue: #00f;
    --black: #000;
    --scroll-background: #FFF;
    --scroll-foreground: #000;
    --scroll-background-over: #666;
    --scroll-size: 10px;
}