<%= provide(:title, "Error 404") %>
<%= provide(:description, t(:not_found)) %>

<p class="text-base font-semibold leading-8 text-white">404</p>
<h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">Not found</h1>
<p class="mt-4 text-base text-white/70 sm:mt-6"><%= t(:not_found) %></p>