<%= provide(:title, "Error 404") %>
<%= provide(:description, t(:not_found)) %>

<section class="mx-auto w-full max-w-7xl px-6 py-24 sm:py-32 lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:px-8">
    <article class="max-w-lg">
        <p class="text-base font-semibold leading-8 text-indigo-600">Error 404</p>
        <h1 class="mt-4 text-3xl lg:text-4xl font-bold tracking-tight text-gray-900">Not Found</h1>
        <p class="mt-4 text-base leading-7 text-gray-600"><%= t(:not_found) %></p>
        <a href="/" class="font-semibold leading-7 text-indigo-600 mt-10 inline-block"><span aria-hidden="true">&larr;</span> Ir a home</a>
    </article>
</section>
<div class="hidden lg:relative lg:col-start-2 lg:row-start-1 lg:row-end-4 lg:block">
    <img src="https://images.unsplash.com/photo-1506702315536-dd8b83e2dcf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Not Found" class="absolute inset-0 h-full w-full object-cover" />
</div>