<%= provide(:title, "Offline") %>
<%= provide(:description, t(:offline)) %>
<main id="app" class="bg-blue absolute left-0 top-0 w-full h-full flex items-center p-6 py-6 lg:py-14 xl:py-26 xl:p-12">
    <section class="prose md:prose-xl lg:prose-2xl mx-auto max-w-lg sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl text-left">
        <h1 class="text-white my-0 text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl">You're :(<br>Offline</h1>
        <p class="text-white mt-1 sm:mt-2 md:mt-3 xl:mt-2 max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl"><%= t(:offline) %></p>
    </section>
</main>