<tr>
  <td align="center" valign="top" style="padding-top:40px;border-top: 2px solid <%= @border %>;">
    <a href="<%= @domain %>" style="text-decoration:none" target="_blank">
    <img alt="Letrismo Logo"
        src="<%= @domain %>/letrismo-logo.svg" width="100"
        style="border:0;color:#fff;<%= @fontfamily %>font-size:12px;font-weight:400;height:auto;letter-spacing:-1px;padding:0;margin:0;outline:none;text-align:center;text-decoration:none"></a>
  </td>
</tr>