<footer class="main-footer">
  <strong>Web Craft Developer: <a href="https://juanfuent.es" target="_blank" title="JuanFuent.es">JuanFuent.es</a> | <a href="mailto:input@juanfuent.es" title="input@juanfuent.es">input@juanfuent.es</a> | <a href="https://wa.me/+5217711302067?text=Hello%20Friend" target="_blank">Tel: +52 1 771 130 20 67</a></strong>
</footer>