:root {
	--bg-color: #151512;
	--icon-color: rgb(180, 180, 180);
	--text-color: #FFF;
	--link-color: #3effed;
	--regular-font: 'Noto Sans', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

	--code-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

	--test-bg: rgba(255, 0,0, .3);
	--test-bg2: rgba(0, 255,0, .3);
}

$primary-font: Helvetica, sans-serif;
$secondary-font: Georgia, serif;


// Text Colors
$active-text: #fff;
$inactive-text: #5e5e5e;


//////// Toolbar
$toolbar-bg: #202020;
$tools-bg: rgba(43,43,43, .6);


$active-color: #1A79F9;
$active-color--focus: #124991;
// $active-color: #D8FF3A;
// $active-color--focus: #829b21;
$input-range-bg: rgb(75,75,75);
$input-range-bg--hover: rgb(110,110,110);


//////// Side menu
$sidemenu-bg-color: #000;
$sidemenu-text-color: #fff;


//////// Eases
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOut: cubic-bezier(.73,0,.15,1);