:root {
	--bg-color: #151512;
	--text-color: #FFF;
	--link-color: #3effed;
	--regular-font: 'Noto Sans', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

	--code-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

	--test-bg: rgba(255, 0,0, .3);
	--test-bg2: rgba(0, 255,0, .3);
}

$toolbar-bg: #202020;
$tools-bg: rgba(60,60,60, .5);

$primary-font: Helvetica, sans-serif;
$secondary-font: Georgia, serif;

$active-color: #D8FF3A;
// $active-color: #1A79F9;