@import "vars";
@import "mixins";

@import "lib/normalize";

@import "default/*";
@import "layout/*";

@import "components/*";
@import "views/*";


body {
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}