@import "vars";
@import "mixins";

@import "lib/normalize";
@import "lib/skeleton";

@import "default/*";
@import "layout/*";

@import "components/*";
@import "views/*";

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow-x: hidden;
}

pre, code, .CodeMirror {
	font-family: var(--code-font);
}